.paper {
  height: 50vh;
  min-height: 380px;
  width: 15vw;
  background-color: white;
  position: absolute;
  z-index: 10;
  left: 7%;
  top: 7%;
  padding: 30px;
  border: solid #222 2px;
  border-radius: 7px;
  text-align: center;
  box-shadow: 5px 10px 18px #857e7e;
  min-width: 220px;
}

.nextButton{
  margin: 20px 20px 0px 0px;
  padding: 10px;
  justify-content: center;
  align-content: center;
  height: 2.5em;
  width: 5em;
  background-color: rgb(45, 101, 119);
  color: white;
  border: none;
  font-weight: bold;
  font-size: 18px;
  border-radius: 5px;
  cursor: pointer;
  transition: 100ms;
}

.nextButton:focus {
  outline: none;
}

.nextButton:hover {
  background-color: rgb(85, 177, 207);
}

.locationText {
  background-color: rgba(252, 181, 2, 0.356);
  border: solid 2px rgb(252, 181, 2);
}

h2{
  margin: 0.6em;
}